doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title=title
    link(rel='stylesheet', href='https://unpkg.com/missing.css@1.2.0')
    //- TODO: get a real icon to use
    //- link(rel='icon' href='/img/logo/missing-logo.svg')
    style.
      /* TODO: remove this once I handle 1000 elements not displaying on a page */
      html {
        overflow-y: scroll; /* reserving space for the scrollbar when there are many elements */
      }
      .nav-right {
        margin-left: auto;
        display: flex;
      }

  body
    header
      h1.flex-row.crowded
        a(href='/')
          img(src='/images/moai.png' style='width: 1.5lh; aspect-ratio: 1/1;')
        span.flex-column.packed
          span.allcaps
            | #{title}
            //- not sure I will need a line break here
            //- wbr
            v-h :
          sub-title Spotify do be lackin a bit at times
      nav
        span.flex-row
          p.tool-bar
            a(href='/summary') Summary
            a(href='/all-albums') All Albums
            a(href='/login/player-token') Player token test
          p.tool-bar.nav-right
            a(href="/login/authorize" id="login-btn") Login
    main
      block content
      // TODO: ************ NEW SHIT I GOTTA VERIFY BELOW ************
      div#player-bar(style="position:fixed; bottom:0; left:0; right:0; height: 4em; background:#222; color:#fff; padding:0.5em; display:flex; align-items:center;")
        span.track-info(style="flex:1; color:#fff;") Nothing playing
        button#play-btn ▶️
        button#pause-btn ⏸️
      script(src="/javascripts/main.js")
      // TODO: ************ NEW SHIT I GOTTA VERIFY ABOVE ************



    footer
      p
        a(href='/') #{title} 
        //- TODO: create a personal site at some point. maybe also using express and missing.css
        |  by Emmett Krochock, created using 
        a(href='https://expressjs.com/') ExpressJS
        |  and 
        a(href='https://missing.style/') missing.css
        |.
      p
        |Also check out the 
        a(href='https://github.com/emmett1999/better-spotify-search') GitHub page

